h1 {
    font-weight: 400;
    line-height: 1.2;
}

h1, p {
    text-align: center;
    margin: 1em auto;
    color: rgb(251, 202, 3);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    margin: 0;
    background-color: rgba(106, 12, 11, 1);
    line-height: 1.4;
}

div {
    margin: 40px auto;
    min-width: 300px;
    max-width: 800px;
    background-color: rgba(185, 125, 16, 0.75);
    color: #fbca03;
    box-shadow: 0 0 30px 5px rgb(0, 0, 0);
    font-size: 18px;
    text-align: left;
}

form {
    width: 60vw;
    max-width: 600px;
    min-width: 300px;
    margin: 20px auto;
    padding-bottom: 2em;
}

label {
    display: block;
    margin: 0.5rem 1px;
}

input[type='submit'] {
    display: block;
    width: 75%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #aa0505;
    color: #fbca03;
    border: 2px solid white;
}

input,
textarea,
select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
  font-size: 16px;
}

input, textarea {
    border: 1px solid #0a0a23;
    color: #000;
}

fieldset {
    display: block;
    border: none;
}

.inline {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0 ;
}

textarea {
    padding: 0.625rem;
    min-height: 120px;
    resize: vertical;
    font-size: 16px;
}

input[type='checkbox'] {
    width: unset;
    vertical-align: middle;
    margin: 0 0.5em 0 0 ;
}

.small-txt {
    font-size: 12px;
    display: inline;
}

fieldset:last-of-type {
    border-bottom: 0.5em;
}

fieldset:first-of-type {
    padding-top: 20px;
}